/* line 2, /Users/kschiess/git/own/nanomsg/web/source/stylesheets/nanomsg.css.sass */
body {
  color: #333333; }

/* line 6, /Users/kschiess/git/own/nanomsg/web/source/stylesheets/nanomsg.css.sass */
.menu {
  padding-top: 30px; }

/* line 8, /Users/kschiess/git/own/nanomsg/web/source/stylesheets/nanomsg.css.sass */
.menu-item {
  font-size: 1.1em;
  padding-top: 5px; }

/* line 14, /Users/kschiess/git/own/nanomsg/web/source/stylesheets/nanomsg.css.sass */
.schema {
  padding-top: 40px; }
  /* line 17, /Users/kschiess/git/own/nanomsg/web/source/stylesheets/nanomsg.css.sass */
  .schema img {
    display: block;
    margin-left: auto;
    margin-right: auto; }

/* line 23, /Users/kschiess/git/own/nanomsg/web/source/stylesheets/nanomsg.css.sass */
.caption {
  padding-top: 20px;
  white-space: pre;
  text-align: center;
  font-size: 150%; }

/* line 29, /Users/kschiess/git/own/nanomsg/web/source/stylesheets/nanomsg.css.sass */
.text {
  padding-top: 40px;
  font-size: 120%; }
  /* line 33, /Users/kschiess/git/own/nanomsg/web/source/stylesheets/nanomsg.css.sass */
  .text h1 {
    font-size: 1.1em; }
